@use "../abstracts/" as *;
.planet__tabs {
  display: none;

  @include sm-tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(12.5rem, 3.125rem + 30vw, 21.875rem);
  }

  button {
    transition: background 0.5s ease-in-out;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    display: inline-flex;
    justify-content: flex-start;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;

    border: 1px solid $lightGray;
    &:hover {
      background-color: #38384f;
    }
  }
}

.tab-btns {
  &:active {
    border-bottom: 3px solid green;
  }
}
.planet__tab-value {
  color: $white;
  margin-left: 1rem;
  white-space: nowrap;
}

.planet__tab-number {
  color: #d8d8d8;
}
