// colors for use throughout the project
$orange: #ff7e1b;
$white: #fff;
$counter: #f6f8fd;
$black-text: #1d2026;
$light-gray: #69707d;
$light-gray-two: #b6bcc8;
$nav-border: #979797;

$white: #ffffff;
$black: #070724;
$paynesGray: #38384f;
$lightGray: #838391;
$turqoise: #419ebb;
$orange: #eda249;
$purple: #6f2ed6;
$red: #d14c32;
$redTwo: #d83a34;
$redThree: #cd5120;
$green: #1ec2a4;
$blue: #2d68f0;
