$h1Size: 80px;
$h1SizeMobile: 40px;
$planet-name: clamp(2.5rem, 1.875rem + 3.571vw, 5rem);
$h2Size: 40px;
$h3Size: 12px;
$h4Size: 11px;
$h1Line: 103px;
$h2Line: 52px;
$h3Line: 25px;
$h4Line: 25px;
$tab-btns: clamp(0.563rem, 0.516rem + 0.268vw, 0.75rem);
$h2LineSizing: -1.5;
$h3LineSizing: +2.5;
$h4LineSizing: +0.2.6;
$bodySize: 14px;
$bodyMobileSize: 11px;
$bodyLine: 25px;
$footerDataHeading: clamp(0.5rem, 0.453rem + 0.268vw, 0.688rem);
$footerDataValue: 20px;
