@use "../abstracts/" as *;

.data {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1, auto);
  width: 100%;

  @include sm-desktop {
    grid-column: 1/3;
  }
  .data__heading {
    font-size: $footerDataHeading;
    font-weight: $spartanBold;
    font-family: $spartan;
    color: $lightGray;
  }
}

.data__value {
  font-size: $footerDataValue;
  color: $white;
  font-weight: 800;
  font-weight: $antonioMedium;
  font-family: $antonio-font;
  margin-top: 0.5em;
  @include sm-tablets {
    font-size: 24px;
  }
  @include sm-desktop {
    font-size: 40px;
  }
}

.mobile-widths-footer {
  width: calc(100% - 10%);
  @include sm-desktop {
    width: calc(100vw - 20%);
  }
}

.data__list {
  margin-block: 1em;
  @include md-phone {
    display: flex;
    flex-direction: column;
  }

  @include sm-tablets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.data__value-item {
  margin-block: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid $white;
  padding: 2em;
  @include sm-tablets {
    flex-direction: column;
    align-items: baseline;
    margin-block: 0;
  }
}
