@use "../abstracts/" as *;

.planet__heading-one-font {
  font-size: $planet-name;
  font-family: $antonio-font;
  font-weight: $antonioMedium;
  text-transform: uppercase;
  color: $white;
}

.nav {
  @include flexbox-config($justify-content: space-around, $align-items: center);
  flex-wrap: wrap;
  border-bottom: 1px solid #979797;
}
.planet-nav {
  @include flexbox-config($justify-content: space-between);

  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: #838391;
  font-size: 11px;
  padding: 1rem 0;

  .nav__planet-list {
    display: flex;
    margin-left: auto;
  }
  .nav__hamburger {
    @include sm-tablets {
      display: none;
    }
  }
}

.nav__brand {
  color: $white;
  margin-left: 1em;
  font-family: "Antonio", sans-serif;
}
.nav__planet-list-container {
  display: none;
  @include sm-tablets {
    display: flex;
    flex-direction: row;
  }
}

.nav__planet-name {
  color: #838391;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 1rem;
  &:hover {
    color: #ffffff;
  }
}

a.navbar-burger {
  @include sm-tablets {
    display: none;
  }
}

.mobile-nav {
  border-bottom: 1px solid $white;

  @include sm-tablets {
    display: none;
  }
  button {
    font-size: 9px;
    color: $lightGray;
    background: none;
    border: none;
  }
}

.nav__hamburger {
  margin-right: 1em;
  @include sm-tablets {
    display: none;
  }
}

.nav__hamburger-active {
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(498%)
    hue-rotate(201deg) brightness(94%) contrast(87%);
}
