@use "../abstracts/" as *;

.sidebar {
  width: 100vw;
  height: 200vh;
  position: absolute;
  z-index: 500;
  top: 85px;
  left: -100%;
  bottom: 0;
  right: 0;
  background-color: $black;
  transition: left 0.7s ease-in-out;
  .sidebar__list {
    padding-inline: 1em;
    .sidebar__item {
      border-bottom: 1px solid #838391;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $spartan;
    }

    p {
      color: #ffffff;
    }
  }
}

.sidebar.active-sidebar {
  left: 0px;
}

.sidebar__planet-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .sidebar__planet-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: $white;
    + p {
      margin-left: 1em;
    }
  }
}
